<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.graphisoft.Libcat</string>
	<key>CFBundleName</key>
	<string>Libcat</string>
	<key>CFBundleGetInfoString</key>
	<string>DG Test version 14, Copyright © 2010 by Graphisoft R&amp;D zrt.  All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>DG Test version 14</string>
	<key>CFBundlePackageType</key>
	<string>.APX</string>
	<key>CFBundleSignature</key>
	<string>GSAP</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIconFile</key>
	<string>ArchiCADPlugin.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
